{% extends 'base.html.twig' %}

{% block metatitle %}
        La Piscine
{% endblock metatitle %}

{% block main %}

    <section>

        <h1>le site de e-commerce de la Piscine</h1>

    </section>
    
    {% endblock %}
