{% extends 'base.html.twig' %}

{% block metatitle %}
	Toutes les catégories
{% endblock metatitle %}

{% block main %}

	<h1>Liste des catégories</h1>

	<section class="category-list-container">catégories
	
		{% for categorie in categories %}

			<article class="categorie">
            
				<p>{{ categorie.title }}</p>

				<a href="{{ path('details-categorie', {'id' : categorie.id}) }}">Voir la categorie</a>

			</article>
			
		{% endfor %}

	</section>

{% endblock main %}
				
		